openapi: 3.0.1
info:
  description: douyin open api
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 抖音开放API
  version: 1.0.0
servers:
- url: https://open.douyin.com/
tags:
- description: oauth
  name: oauth
paths:
  /platform/oauth/connect:
    get:
      description: 获取授权码(code)
      operationId: connect
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写code
        in: query
        name: response_type
        required: true
        schema:
          type: string
      - description: 应用授权作用域,多个授权作用域以英文逗号（,）分隔
        in: query
        name: scope
        required: true
        schema:
          type: string
      - description: 应用授权可选作用域,多个授权作用域以英文逗号（,）分隔，每一个授权作用域后需要加上一个是否默认勾选的参数，1为默认勾选，0为默认不勾选
        in: query
        name: optionalScope
        required: true
        schema:
          type: string
      - description: 授权成功后的回调地址，必须以http/https开头。域名必须对应申请应用时填写的域名，如不清楚请联系应用申请人。
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
      - description: 用于保持请求和回调的状态
        in: query
        name: state
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponse'
          description: successful operation
      summary: 获取授权码(code)
      tags:
      - oauth
components:
  schemas:
    APIResponse:
      description: ""
      example:
        data:
          description: description
          error_code: 0
        extra:
          now: 6
          logid: logid
      properties:
        data:
          $ref: '#/components/schemas/APIResponse_data'
        extra:
          $ref: '#/components/schemas/APIResponse_extra'
      title: APIResponse
      type: object
    APIResponse_data:
      example:
        description: description
        error_code: 0
      properties:
        description:
          type: string
        error_code:
          format: int32
          type: integer
    APIResponse_extra:
      example:
        now: 6
        logid: logid
      properties:
        logid:
          type: string
        now:
          format: int64
          type: integer
