openapi: 3.0.1
info:
  description: douyin open api
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 抖音开放API
  version: 1.0.0
servers:
- url: https://open.douyin.com/
tags:
- description: oauth
  name: oauth
paths:
  /platform/oauth/connect:
    get:
      description: 抖音获取授权码(code)
      operationId: connect
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写code
        in: query
        name: response_type
        required: true
        schema:
          type: string
      - description: 应用授权作用域,多个授权作用域以英文逗号（,）分隔
        in: query
        name: scope
        required: true
        schema:
          type: string
      - description: 应用授权可选作用域,多个授权作用域以英文逗号（,）分隔，每一个授权作用域后需要加上一个是否默认勾选的参数，1为默认勾选，0为默认不勾选
        in: query
        name: optionalScope
        schema:
          type: string
      - description: 授权成功后的回调地址，必须以http/https开头。域名必须对应申请应用时填写的域名，如不清楚请联系应用申请人。
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
      - description: 用于保持请求和回调的状态
        in: query
        name: state
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectRsp'
          description: successful operation
      summary: 抖音获取授权码(code)
      tags:
      - oauth
  /oauth/authorize:
    get:
      description: 头条获取授权码(code)
      operationId: authorize
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写code
        in: query
        name: response_type
        required: true
        schema:
          type: string
      - description: 应用授权作用域,多个授权作用域以英文逗号（,）分隔
        in: query
        name: scope
        required: true
        schema:
          type: string
      - description: 授权成功后的回调地址，必须以http/https开头。域名必须对应申请应用时填写的域名，如不清楚请联系应用申请人。
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
      - description: 用于保持请求和回调的状态
        in: query
        name: state
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizeRsp'
          description: successful operation
      summary: 头条获取授权码(code)
      tags:
      - oauth
  /oauth/access_token:
    get:
      description: 获取access_token
      operationId: access_token
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 应用唯一标识对应的密钥
        in: query
        name: client_secret
        required: true
        schema:
          type: string
      - description: 授权码
        in: query
        name: code
        required: true
        schema:
          type: string
      - description: 写死"authorization_code"即可
        in: query
        name: grant_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenRsp'
          description: successful operation
      summary: 获取access_token
      tags:
      - oauth
  /oauth/renew_refresh_token:
    get:
      description: 刷新refresh_token
      operationId: renew_refresh_token
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写通过access_token获取到的refresh_token参数
        in: query
        name: refresh_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewRefreshTokenRsp'
          description: successful operation
      summary: 刷新refresh_token
      tags:
      - oauth
  /oauth/client_token:
    get:
      description: 生成client_token
      operationId: client_token
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 应用唯一标识对应的密钥
        in: query
        name: client_secret
        required: true
        schema:
          type: string
      - description: 传client_credential
        in: query
        name: grant_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTokenRsp'
          description: successful operation
      summary: 生成client_token
      tags:
      - oauth
  /oauth/refresh_token:
    get:
      description: 刷新access_token
      operationId: refresh_token
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写通过access_token获取到的refresh_token参数
        in: query
        name: refresh_token
        required: true
        schema:
          type: string
      - description: 填refresh_token
        in: query
        name: grant_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenRsp'
          description: successful operation
      summary: 刷新access_token
      tags:
      - oauth
  /oauth/authorize/v2:
    get:
      description: 抖音静默获取授权码(code)
      operationId: authorizeV2
      parameters:
      - description: 应用唯一标识
        in: query
        name: client_key
        required: true
        schema:
          type: string
      - description: 填写code
        in: query
        name: response_type
        required: true
        schema:
          type: string
      - description: 填login_id
        in: query
        name: scope
        required: true
        schema:
          type: string
      - description: 授权成功后的回调地址，必须以http/https开头。域名要跟申请应用时填写的授权回调域一致。用于调用https://open.douyin.com/oauth/access_token/换token。
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
      - description: 用于保持请求和回调状态，授权请求后会原样返回给接入方,如果是App则不用传该参数
        in: query
        name: state
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizeV2Rsp'
          description: successful operation
      summary: 抖音静默获取授权码(code)
      tags:
      - oauth
  /oauth/userinfo:
    get:
      description: 获取用户信息
      operationId: userinfo
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserinfoRsp'
          description: successful operation
      summary: 获取用户信息
      tags:
      - userinfo
  /fans/list:
    get:
      description: 获取粉丝列表
      operationId: fans_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FansListRsp'
          description: successful operation
      summary: 获取粉丝列表
      tags:
      - userinfo
  /following/list:
    get:
      description: 获取关注列表
      operationId: following_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowingListRsp'
          description: successful operation
      summary: 获取关注列表
      tags:
      - userinfo
  /video/upload:
    post:
      description: 抖音上传视频到文件服务器
      operationId: douyin_video_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                video:
                  format: binary
                  type: string
              required:
              - video
        required: true
      responses:
        "200":
          content:
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/DouyinVideoUploadRsp'
          description: successful operation
      summary: 抖音上传视频到文件服务器
      tags:
      - video
  /video/part/init:
    post:
      description: 抖音分片初始化上传
      operationId: douyin_video_part_init
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoPartInitRsp'
          description: successful operation
      summary: 抖音分片初始化上传
      tags:
      - video
  /video/part/upload:
    post:
      description: 上传视频分片到文件服务器
      operationId: douyin_video_part_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      - description: 第几个分片，从1开始
        in: query
        name: part_number
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                video: {}
              required:
              - video
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoPartUploadRsp'
          description: successful operation
      summary: 上传视频分片到文件服务器
      tags:
      - video
  /video/part/complete:
    post:
      description: 视频分片完成上传
      operationId: douyin_video_part_complete
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoPartCompleteRsp'
          description: successful operation
      summary: 视频分片完成上传
      tags:
      - video
  /video/create:
    post:
      description: 创建抖音视频
      operationId: douyin_video_create
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DouyinVideoCreateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoCreateRsp'
          description: successful operation
      summary: 创建抖音视频
      tags:
      - video
      x-codegen-request-body-name: body
  /image/upload:
    post:
      description: 上传图片到文件服务器
      operationId: douyin_image_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                image:
                  format: binary
                  type: string
              required:
              - image
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinImageUploadRsp'
          description: successful operation
      summary: 上传图片到文件服务器
      tags:
      - image
  /image/create:
    post:
      description: 发布图片
      operationId: douyin_image_create
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                micro_app_url:
                  description: 吊起小程序时的参数
                  type: string
                poi_id:
                  description: 地理位置id
                  type: string
                poi_name:
                  description: 地理位置名称
                  type: string
                text:
                  description: 标题，可以带话题。 如title1#话题1
                  type: string
                image_id:
                  description: 通过/image/upload/接口得到
                  type: string
                micro_app_id:
                  description: 小程序id
                  type: string
                micro_app_title:
                  description: 小程序标题
                  type: string
                at_users:
                  description: 如果需要at其他用户。将text中@nickname对应的open_id放到这里。
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinImageCreateRsp'
          description: successful operation
      summary: 发布图片
      tags:
      - image
      x-codegen-request-body-name: body
  /video/delete:
    post:
      description: 删除授权用户发布的视频
      operationId: douyin_video_delete
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                item_id:
                  description: 抖音视频id
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoDeleteRsp'
          description: successful operation
      summary: 删除授权用户发布的视频
      tags:
      - video
      x-codegen-request-body-name: body
  /video/list:
    get:
      description: 查询授权账号视频数据
      operationId: douyin_video_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoListRsp'
          description: successful operation
      summary: 查询授权账号视频数据
      tags:
      - video
  /video/data:
    post:
      description: 查询指定视频数据
      operationId: douyin_video_data
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                item_ids:
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoData'
          description: successful operation
      summary: 查询指定视频数据
      tags:
      - video
      x-codegen-request-body-name: body
  /share-id/:
    get:
      description: 获取share-id
      operationId: douyin_video_share_id
      parameters:
      - description: 调用/oauth/client_token/生成的token，此token不需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 如果需要知道视频分享成功的结果，need_callback设置为true
        in: query
        name: need_callback
        schema:
          type: boolean
      - description: 多来源样式id（暂未开放）。
        in: query
        name: source_style_id
        schema:
          type: string
      - description: 追踪分享默认hashtag
        in: query
        name: default_hashtag
        schema:
          type: string
      - description: 分享来源url附加参数（暂未开放）。
        in: query
        name: link_param
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoShareIdRsp'
          description: successful operation
      summary: 获取share-id
      tags:
      - video
  /poi/search/keyword:
    get:
      description: 查询POI信息
      operationId: douyin_video_position_search
      parameters:
      - description: 调用/oauth/client_token/生成的token，此token不需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 查询关键字，例如美食
        in: query
        name: keyword
        required: true
        schema:
          type: string
      - description: 查询城市，例如上海、北京。
        in: query
        name: city
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DouyinVideoPositionSearchRsp'
          description: successful operation
      summary: 查询POI信息
      tags:
      - video
  /toutiao/video/upload:
    post:
      description: 头条上传视频到文件服务器
      operationId: toutiao_video_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          multipart/form-data:
            schema:
              properties:
                video:
                  items:
                    format: byte
                    pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToutiaoVideoUploadRsp'
          description: successful operation
      summary: 头条上传视频到文件服务器
      tags:
      - video
      x-codegen-request-body-name: body
  /toutiao/video/create:
    post:
      description: 创建头条视频
      operationId: toutiao_video_create
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          multipart/form-data:
            schema:
              properties:
                text:
                  description: 视频标题不要超过30个字符
                  type: string
                video_id:
                  description: video_id, 通过/toutiao/video/upload/接口得到
                  type: string
                extra:
                  $ref: '#/components/schemas/_toutiao_video_create_extra'
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoCreateRsp'
          description: successful operation
      summary: 创建头条视频
      tags:
      - video
      x-codegen-request-body-name: body
  /toutiao/video/part/init:
    post:
      description: 头条分片初始化上传
      operationId: toutiao_video_part_init
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoPartInitRsp'
          description: successful operation
      summary: 头条分片初始化上传
      tags:
      - video
  /toutiao/video/part/upload:
    post:
      description: 上传视频分片到文件服务器
      operationId: toutiao_video_part_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      - description: 第几个分片，从1开始
        in: query
        name: part_number
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          multipart/form-data:
            schema:
              properties:
                video:
                  items:
                    format: byte
                    pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoPartUploadRsp'
          description: successful operation
      summary: 上传视频分片到文件服务器
      tags:
      - video
      x-codegen-request-body-name: body
  /toutiao/video/part/complete/:
    post:
      description: 头条视频分片完成上传
      operationId: toutiao_video_part_complete
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoPartCompleteRsp'
          description: successful operation
      summary: 头条视频分片完成上传
      tags:
      - video
  /toutiao/video/list:
    get:
      description: 查询授权账号视频数据
      operationId: toutiao_video_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoListRsp'
          description: successful operation
      summary: 查询授权账号视频数据
      tags:
      - video
  /toutiao/video/data:
    post:
      description: 查询头条指定视频数据
      operationId: toutiao_video_data
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          multipart/form-data:
            schema:
              properties:
                item_ids:
                  items:
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TouTiaoVideoData'
          description: successful operation
      summary: 查询头条指定视频数据
      tags:
      - video
      x-codegen-request-body-name: body
  /xigua/video/upload:
    post:
      description: 西瓜上传视频到文件服务器
      operationId: xigua_video_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          multipart/form-data:
            schema:
              properties:
                video:
                  items:
                    format: byte
                    pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoUploadRsp'
          description: successful operation
      summary: 西瓜上传视频到文件服务器
      tags:
      - video
      x-codegen-request-body-name: body
  /xigua/video/part/init:
    post:
      description: 西瓜分片初始化上传
      operationId: xigua_video_part_init
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoPartInitRsp'
          description: successful operation
      summary: 西瓜分片初始化上传
      tags:
      - video
  /xigua/video/part/upload:
    post:
      description: 上传视频分片到文件服务器
      operationId: xigua_video_part_upload
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      - description: 第几个分片，从1开始
        in: query
        name: part_number
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          multipart/form-data:
            schema:
              properties:
                video:
                  items:
                    format: byte
                    pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoPartUploadRsp'
          description: successful operation
      summary: 上传视频分片到文件服务器
      tags:
      - video
      x-codegen-request-body-name: body
  /xigua/video/part/complete:
    post:
      description: 视频分片完成上传
      operationId: xigua_video_part_complete
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分片上传的标记。有限时间为2小时
        in: query
        name: upload_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoPartCompleteRsp'
          description: successful operation
      summary: 视频分片完成上传
      tags:
      - video
  /xigua/video/create:
    post:
      description: 创建西瓜视频
      operationId: xigua_video_create
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          multipart/form-data:
            schema:
              properties:
                abstract:
                  description: 视频简介，400字以内
                  type: string
                claim_origin:
                  description: 是否声明原创（授权账号需要在西瓜视频端内开通「实名认证」）
                  type: string
                cover_tsp:
                  description: 从视频中截取封面的时间，用该帧作为封面（单位为毫秒）
                  type: string
                praise:
                  description: 是否给视频开通可以赞赏的入口（授权账号需要在西瓜视频端内开通「实名认证」）
                  type: string
                text:
                  description: 标题长度应该在5-30字之间
                  type: string
                video_id:
                  description: video_id, 通过/xigua/video/upload/接口得到
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoCreateRsp'
          description: successful operation
      summary: 创建西瓜视频
      tags:
      - video
      x-codegen-request-body-name: body
  /xigua/video/list:
    get:
      description: 西瓜查询授权账号视频数据
      operationId: xigua_video_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoListRsp'
          description: successful operation
      summary: 西瓜查询授权账号视频数据
      tags:
      - video
  /xigua/video/data:
    post:
      description: 西瓜ig查询指定视频数据
      operationId: xigua_video_data
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          multipart/form-data:
            schema:
              properties:
                item_ids:
                  items:
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XiGuaVideoData'
          description: successful operation
      summary: 西瓜查询指定视频数据
      tags:
      - video
      x-codegen-request-body-name: body
  /item/comment/list:
    get:
      description: 评论列表
      operationId: item_comment_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 视频id
        in: query
        name: item_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCommentListRsp'
          description: successful operation
      summary: 评论列表
      tags:
      - comment
  /item/comment/reply/list:
    get:
      description: 评论回复列表
      operationId: item_comment_reply_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 视频id
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 评论id
        in: query
        name: comment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCommentReplyListRsp'
          description: successful operation
      summary: 评论回复列表
      tags:
      - comment
  /item/comment/reply:
    post:
      description: 评论回复列表
      operationId: item_comment_reply
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          multipart/form-data:
            schema:
              properties:
                comment_id:
                  type: string
                content:
                  type: string
                item_id:
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCommentReplyRsp'
          description: successful operation
      summary: 评论回复列表
      tags:
      - comment
      x-codegen-request-body-name: body
  /video/comment/list:
    get:
      description: 评论列表
      operationId: video_comment_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 视频id
        in: query
        name: item_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCommentListRsp'
          description: successful operation
      summary: 评论列表
      tags:
      - comment
  /video/comment/reply/list:
    get:
      description: 评论列表
      operationId: video_comment_reply_list
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 视频id
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 评论id
        in: query
        name: comment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCommentReplyListRsp'
          description: successful operation
      summary: 评论列表
      tags:
      - comment
  /video/comment/reply:
    post:
      description: (企业号)回复视频评论
      operationId: video_comment_reply
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          multipart/form-data:
            schema:
              properties:
                comment_id:
                  description: 需要回复的评论id
                  type: string
                content:
                  description: 评论内容
                  type: string
                item_id:
                  description: 视频id
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCommentReplyRsp'
          description: successful operation
      summary: (企业号)回复视频评论
      tags:
      - comment
      x-codegen-request-body-name: body
  /video/comment/top:
    post:
      description: (企业号)置顶视频评论
      operationId: video_comment_top
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          multipart/form-data:
            schema:
              properties:
                top:
                  description: true置顶, false取消置顶
                  type: boolean
                comment_id:
                  description: 需要回复的评论id
                  type: string
                item_id:
                  description: 视频id
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCommentTopRsp'
          description: successful operation
      summary: (企业号)置顶视频评论
      tags:
      - comment
      x-codegen-request-body-name: body
  /enterprise/im/message/send:
    post:
      description: (企业号)发送私信给用户
      operationId: enterprise_im_message_send
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          multipart/form-data:
            schema:
              properties:
                persona_id:
                  description: 客服id，传则走客服会话，否则为普通会话
                  type: string
                to_user_id:
                  description: 消息的接收方openid
                  type: string
                client_msg_id:
                  description: 内部使用
                  type: string
                content:
                  description: 消息体见下方schema
                  type: string
                message_type:
                  description: 消息内容格式 `text` - 文本消息 `image` - 图片消息 `video` - 视频消息
                    `card` - 卡片消息
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImMessageSendRsp'
          description: successful operation
      summary: (企业号)发送私信给用户
      tags:
      - im
      x-codegen-request-body-name: body
  /video/search:
    get:
      description: 关键词视频搜索
      operationId: video_search
      parameters:
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 关键词
        in: query
        name: keyword
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchRsp'
          description: successful operation
      summary: 关键词视频搜索
      tags:
      - video_search
  /video/search/comment/list:
    get:
      description: 关键词视频评论列表
      operationId: video_search_comment_list
      parameters:
      - description: 视频搜索接口返回的加密的视频id
        in: query
        name: sec_item_id
        required: true
        schema:
          type: string
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchCommentListRsp'
          description: successful operation
      summary: 关键词视频评论列表
      tags:
      - video_search
  /video/search/comment/reply:
    post:
      description: 关键词视频评论回复
      operationId: video_search_comment_reply
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志。
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          multipart/form-data:
            schema:
              properties:
                sec_item_id:
                  description: 视频搜索接口返回的加密的视频id
                  type: string
                comment_id:
                  description: 需要回复的评论id（如果需要回复的是视频不传此字段）
                  type: string
                content:
                  description: 评论内容
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchCommentReplyRsp'
          description: successful operation
      summary: 关键词视频评论回复
      tags:
      - video_search
      x-codegen-request-body-name: body
  /video/search/comment/reply/list:
    get:
      description: 评论回复列表
      operationId: video_search_comment_reply_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 视频搜索接口返回的加密的视频id
        in: query
        name: sec_item_id
        required: true
        schema:
          type: string
      - description: 评论id
        in: query
        name: comment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchCommentReplyListRsp'
          description: successful operation
      summary: 评论回复列表
      tags:
      - video_search
  /data/external/user/item:
    get:
      description: 获取用户视频情况
      operationId: data_external_user_item
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserItemRsp'
          description: successful operation
      summary: 获取用户视频情况
      tags:
      - data
  /data/external/user/fans:
    get:
      description: 获取用户粉丝数
      operationId: data_external_user_fans
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserFansRsp'
          description: successful operation
      summary: 获取用户粉丝数
      tags:
      - data
  /data/external/user/like:
    get:
      description: 获取用户点赞数
      operationId: data_external_user_like
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserLikeRsp'
          description: successful operation
      summary: 获取用户点赞数
      tags:
      - data
  /data/external/user/comment:
    get:
      description: 获取用户评论数
      operationId: data_external_user_comment
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserCommentRsp'
          description: successful operation
      summary: 获取用户评论数
      tags:
      - data
  /data/external/user/share:
    get:
      description: 获取用户分享数
      operationId: data_external_user_share
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserShareRsp'
          description: successful operation
      summary: 获取用户分享数
      tags:
      - data
  /data/external/user/profile:
    get:
      description: 获取用户主页访问数
      operationId: data_external_user_profile
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天、30代表30天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalUserProfileRsp'
          description: successful operation
      summary: 获取用户主页访问数
      tags:
      - data
  /data/external/item/base:
    get:
      description: 获取视频基础数据
      operationId: data_external_item_base
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: item_id，仅能查询access_token对应用户上传的视频
        in: query
        name: item_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalItemBaseRsp'
          description: successful operation
      summary: 获取视频基础数据
      tags:
      - data
  /data/external/item/like:
    get:
      description: 获取视频点赞数据
      operationId: data_external_item_like
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: item_id，仅能查询access_token对应用户上传的视频
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalItemLikeRsp'
          description: successful operation
      summary: 获取视频点赞数据
      tags:
      - data
  /data/external/item/comment:
    get:
      description: 获取视频评论数据
      operationId: data_external_item_comment
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: item_id，仅能查询access_token对应用户上传的视频
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalItemCommentRsp'
          description: successful operation
      summary: 获取视频评论数据
      tags:
      - data
  /data/external/item/play:
    get:
      description: 获取视频播放数据
      operationId: data_external_item_play
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: item_id，仅能查询access_token对应用户上传的视频
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalItemPlayRsp'
          description: successful operation
      summary: 获取视频播放数据
      tags:
      - data
  /data/external/item/share:
    get:
      description: 获取视频分享数据
      operationId: data_external_item_share
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: item_id，仅能查询access_token对应用户上传的视频
        in: query
        name: item_id
        required: true
        schema:
          type: string
      - description: 近7/15天；输入7代表7天、15代表15天
        in: query
        name: date_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalItemShareRsp'
          description: successful operation
      summary: 获取视频分享数据
      tags:
      - data
  /fans/data:
    get:
      description: 获取用户粉丝数据
      operationId: fans_data
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FansDataRsp'
          description: successful operation
      summary: 获取用户粉丝数据
      tags:
      - data
  /hotsearch/sentences:
    get:
      description: 获取实时热点词
      operationId: hotsearch_sentences
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotsearchSentencesRsp'
          description: successful operation
      summary: 获取实时热点词
      tags:
      - hotsearch
  /hotsearch/trending/sentences:
    get:
      description: 获取上升词
      operationId: hotsearch_trending_sentences
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        required: true
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotsearchTrendingSentencesRsp'
          description: successful operation
      summary: 获取上升词
      tags:
      - hotsearch
  /hotsearch/videos:
    get:
      description: 获取热点词聚合的视频
      operationId: hotsearch_videos
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 热点词
        in: query
        name: hot_sentence
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotsearchVideosRsp'
          description: successful operation
      summary: 获取热点词聚合的视频
      tags:
      - hotsearch
  /star/hot_list:
    get:
      description: 获取抖音星图达人热榜
      operationId: star_host_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 达人热榜类型 `1` - 星图指数榜 `2` - 涨粉指数榜 `3` - 性价比指数榜 `4` - 种草指数榜 `5` -
          精选指数榜 `6` - 传播指数榜
        in: query
        name: hot_list_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StarHostListRsp'
          description: successful operation
      summary: 获取抖音星图达人热榜
      tags:
      - star
  /star/author_score:
    get:
      description: 获取抖音星图达人指数
      operationId: star_author_score
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StarAuthorScoreRsp'
          description: successful operation
      summary: 获取抖音星图达人指数
      tags:
      - star
  /star/author_score_v2:
    get:
      description: 获取抖音星图达人指数数据V2
      operationId: star_author_score_v2
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 达人抖音号
        in: query
        name: unique_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StarAuthorScoreV2Rsp'
          description: successful operation
      summary: 获取抖音星图达人指数数据V2
      tags:
      - star
  /discovery/ent/rank/item:
    get:
      description: 获取抖音电影榜、抖音电视剧榜、抖音综艺榜
      operationId: discovery_ent_rank_item
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 榜单类型： 1 - 电影 2 - 电视剧 3 - 综艺
        in: query
        name: type
        required: true
        schema:
          format: int32
          type: integer
      - description: 榜单版本：空值默认为本周榜单
        in: query
        name: version
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryEntRankItemRsp'
          description: successful operation
      summary: 获取抖音电影榜、抖音电视剧榜、抖音综艺榜
      tags:
      - rank
  /discovery/ent/rank/version:
    get:
      description: 获取抖音影视综榜单版本
      operationId: discovery_ent_rank_version
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 榜单类型： 1 - 电影 2 - 电视剧 3 - 综艺
        in: query
        name: type
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryEntRankVersionRsp'
          description: successful operation
      summary: 获取抖音影视综榜单版本
      tags:
      - rank
  /data/external/sdk_share:
    get:
      description: 获取SDK分享视频数据
      operationId: data_external_sdk_share
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 最近30天，开始日期(yyyy-MM-dd)。
        in: query
        name: begin_date
        schema:
          type: string
      - description: 最近30天，结束日期(yyyy-MM-dd)
        in: query
        name: end_date
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExternalSdkShareRsp'
          description: successful operation
      summary: 获取SDK分享视频数据
      tags:
      - data
  /enterprise/leads/user/list:
    get:
      description: 获取意向用户列表
      operationId: enterprise_leads_user_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 分页游标
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 分页数量。
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: start_time
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: end_time
        required: true
        schema:
          format: int64
          type: integer
      - description: 用户状态 `-1` - 没兴趣 `0` - 了解 `1` - 有兴趣 `2` - 有意愿 `10` - 已转化
        in: query
        name: leads_level
        schema:
          format: int64
          type: integer
      - description: 分类 `0` - 全部 `1` - 私信互动 `2` - 组件互动 `3` - 主页互动
        in: query
        name: action_type
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsUserListRsp'
          description: successful operation
      summary: 获取意向用户列表
      tags:
      - enterprise
  /enterprise/leads/user/detail:
    get:
      description: 获取意向用户详情
      operationId: enterprise_leads_user_detail
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - in: query
        name: user_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsUserDetailRsp'
          description: successful operation
      summary: 获取意向用户详情
      tags:
      - enterprise
  /enterprise/leads/user/action/list:
    get:
      description: 获取意向用户互动记录
      operationId: enterprise_leads_user_action_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - in: query
        name: user_id
        required: true
        schema:
          type: string
      - in: query
        name: action_type
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsUserActionListRsp'
          description: successful operation
      summary: 获取意向用户互动记录
      tags:
      - enterprise
  /enterprise/leads/tag/list:
    get:
      description: 获取标签列表
      operationId: enterprise_leads_tag_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: cursor
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagListRsp'
          description: successful operation
      summary: 获取标签列表
      tags:
      - enterprise
  /enterprise/leads/tag/user/list:
    get:
      description: 获取打标签的用户列表
      operationId: enterprise_leads_tag_user_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - in: query
        name: tag_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagUserListRsp'
          description: successful operation
      summary: 获取打标签的用户列表
      tags:
      - enterprise
  /enterprise/leads/tag/create:
    post:
      description: 创建标签
      operationId: enterprise_leads_tag_create
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          multipart/form-data:
            schema:
              properties:
                tag_name:
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagCreateRsp'
          description: successful operation
      summary: 创建标签
      tags:
      - enterprise
      x-codegen-request-body-name: body
  /enterprise/leads/tag/update:
    post:
      description: 编辑标签
      operationId: enterprise_leads_tag_update
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          multipart/form-data:
            schema:
              properties:
                tag_id:
                  description: 标签id
                  format: int64
                  type: integer
                tag_name:
                  description: 标签名称
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagUpdateRsp'
          description: successful operation
      summary: 编辑标签
      tags:
      - enterprise
      x-codegen-request-body-name: body
  /enterprise/leads/tag/delete:
    post:
      description: 删除标签
      operationId: enterprise_leads_tag_delete
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          multipart/form-data:
            schema:
              properties:
                tag_id:
                  description: 标签id
                  format: int64
                  type: integer
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagDeleteRsp'
          description: successful operation
      summary: 删除标签
      tags:
      - enterprise
      x-codegen-request-body-name: body
  /enterprise/leads/tag/user/update:
    post:
      description: 给用户设置标签
      operationId: enterprise_leads_tag_user_update
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          multipart/form-data:
            schema:
              properties:
                bind:
                  description: 是否绑定
                  type: boolean
                tag_id:
                  description: 标签id
                  format: int64
                  type: integer
                user_id:
                  description: 用户openid
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseLeadsTagUserUpdateRsp'
          description: successful operation
      summary: 给用户设置标签
      tags:
      - enterprise
      x-codegen-request-body-name: body
  /enterprise/im/persona/create:
    post:
      description: 客服账号
      operationId: enterprise_im_person_create
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          multipart/form-data:
            schema:
              properties:
                role_name:
                  description: 角色名（暂未开放）
                  type: string
                nickname:
                  description: 昵称
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImPersonCreateRsp'
          description: successful operation
      summary: 客服账号
      tags:
      - enterprise_im
      x-codegen-request-body-name: body
  /enterprise/im/persona/delete:
    post:
      description: 删除客服账号
      operationId: enterprise_im_person_delete
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_21'
        content:
          multipart/form-data:
            schema:
              properties:
                persona_id:
                  description: 客服id
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImPersonDeleteRsp'
          description: successful operation
      summary: 删除客服账号
      tags:
      - enterprise_im
      x-codegen-request-body-name: body
  /enterprise/im/persona/list:
    get:
      description: 获取客服列表
      operationId: enterprise_im_person_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
        in: query
        name: cursor
        required: true
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImPersonListRsp'
          description: successful operation
      summary: 获取客服列表
      tags:
      - enterprise_im
  /enterprise/im/persona/conversation/create:
    post:
      description: 主动创建客服会话
      operationId: enterprise_im_person_conversation_create
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_22'
        content:
          multipart/form-data:
            schema:
              properties:
                persona_id:
                  description: 客服id
                  type: string
                to_user_id:
                  description: 会话对方的open_id
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImPersonConversationCreateRsp'
          description: successful operation
      summary: 主动创建客服会话
      tags:
      - enterprise_im
      x-codegen-request-body-name: body
  /enterprise/im/persona/conversation/delete:
    post:
      description: 删除客服会话
      operationId: enterprise_im_person_conversation_delete
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_23'
        content:
          multipart/form-data:
            schema:
              properties:
                persona_id:
                  description: 客服id
                  type: string
                to_user_id:
                  description: 会话对方的open_id
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseImPersonConversationDeleteRsp'
          description: successful operation
      summary: 删除客服会话
      tags:
      - enterprise_im
      x-codegen-request-body-name: body
  /enterprise/groupon/save:
    post:
      description: 创建团购活动
      operationId: enterprise_groupon_save
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_24'
        content:
          multipart/form-data:
            schema:
              properties:
                actual_amount:
                  description: 实际金额(单位分)
                  format: int64
                  type: integer
                code_type:
                  description: 0券码生成的方式;1系统生成;2自定义上传
                  format: int64
                  type: integer
                h5_url:
                  description: 团购活动详情页链接
                  type: string
                order_limit:
                  description: 单用户购买数量上限
                  format: int64
                  type: integer
                audit_msg:
                  description: 审核失败原因
                  type: string
                groupon_id:
                  description: 团购活动Id，审核失败修改用
                  type: string
                start_time:
                  description: 活动开始时间 unix time
                  format: int64
                  type: integer
                stock:
                  description: 团购活动库存总数
                  format: int64
                  type: integer
                title:
                  description: 卡券标题
                  type: string
                end_time:
                  description: 活动截止时间 unix time
                  format: int64
                  type: integer
                merchant_name:
                  description: 商户名称
                  type: string
                service_number:
                  description: 联系电话
                  type: string
                status:
                  description: 活动状态 创建时可以忽略 1有效 2审核中 3审核失败 4中止
                  format: int64
                  type: integer
                notification:
                  description: 团购须知
                  type: string
                original_amount:
                  description: 原价(单位分)
                  format: int64
                  type: integer
                sold_count:
                  description: 已售出数量
                  format: int64
                  type: integer
                use_type:
                  description: 团购使用方式 1 到店核销
                  format: int64
                  type: integer
                groupon_goods:
                  description: 团购商品
                  items:
                    $ref: '#/components/schemas/_enterprise_groupon_save_groupon_goods'
                  type: array
                cover_images:
                  description: 封面图
                  items:
                    type: string
                  type: array
                poi_ids:
                  description: 绑定的POI 列表 默认展示全部门店
                  items:
                    type: string
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponSaveRsp'
          description: successful operation
      summary: 创建团购活动
      tags:
      - enterprise_groupon
      x-codegen-request-body-name: body
  /enterprise/groupon/list:
    get:
      description: 团购活动列表
      operationId: enterprise_groupon_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 状态筛选 1 有效 2 审核中 3 审核失败 4 中止
        in: query
        name: status
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponListRsp'
          description: successful operation
      summary: 团购活动列表
      tags:
      - enterprise_groupon
  /enterprise/groupon/detail:
    get:
      description: 团购活动详情
      operationId: enterprise_groupon_detail
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 团购活动的Id
        explode: false
        in: query
        name: groupon_ids
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponDetailRsp'
          description: successful operation
      summary: 团购活动详情
      tags:
      - enterprise_groupon
  /enterprise/groupon/offline:
    post:
      description: 团购活动下线
      operationId: enterprise_groupon_offline
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_25'
        content:
          multipart/form-data:
            schema:
              properties:
                groupon_id:
                  description: 团购活动Id
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponOfflineRsp'
          description: successful operation
      summary: 团购活动下线
      tags:
      - enterprise_groupon
      x-codegen-request-body-name: body
  /enterprise/groupon/order/refund/apply/list:
    get:
      description: 团购活动用户申请退款订单列表
      operationId: enterprise_groupon_order_refund_apply_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 退款申请开始时间，unix时间戳
        in: query
        name: start_time
        required: true
        schema:
          format: int64
          type: integer
      - description: 退款申请结束时间，unix时间戳
        in: query
        name: end_time
        required: true
        schema:
          format: int64
          type: integer
      - description: 状态筛选 1 待确认 2 已确认
        in: query
        name: status
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponOrderRefundApplyListRsp'
          description: successful operation
      summary: 团购活动用户申请退款订单列表
      tags:
      - groupon_order
  /enterprise/groupon/order/detail:
    get:
      description: 团购活动订单详情
      operationId: enterprise_groupon_order_detail
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 订单id
        in: query
        name: order_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponOrderDetailRsp'
          description: successful operation
      summary: 团购活动订单详情
      tags:
      - groupon_order
  /enterprise/groupon/order/list:
    get:
      description: 团购活动订单列表详情
      operationId: enterprise_groupon_order_list
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
        in: query
        name: cursor
        schema:
          format: int64
          type: integer
      - description: 每页数量
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
      - description: 订单创建开始时间，unix时间戳
        in: query
        name: start_time
        required: true
        schema:
          format: int64
          type: integer
      - description: 订单创建结束时间，unix时间戳
        in: query
        name: end_time
        required: true
        schema:
          format: int64
          type: integer
      - description: 过滤订单状态，用","分隔，不传默认下发所有状态
        in: query
        name: filter_status
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseGrouponOrderListRsp'
          description: successful operation
      summary: 团购活动订单列表详情
      tags:
      - groupon_order
  /enterprise/groupon/order/overview:
    get:
      description: 团购活动订单汇总信息
      operationId: enterprise_groupon_order_overview
      parameters:
      - description: 调用/oauth/access_token/生成的token，此token需要用户授权。
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: 通过/oauth/access_token/获取，用户唯一标志
        in: query
        name: open_id
        required: true
        schema:
          type: string
      - description: 订单创建开始时间，unix时间戳
        in: query
[...]
